import(reshape2)
import(plyr)
import(scales)
import(edgeR)
import(locfit)
importFrom(QuasiSeq, NBDev, PoisDev, QL.fit)
import(grid)
import(gridExtra)
import(stringr)
import(ROCR)
import(ggplot2)
import(gtools)
importFrom(qvalue, qvalue)
export(initDat)
export(est_r_m)
export(geneExprTest)
export(erccROC)
export(estLODR)
export(runDashboard)
export(dynRangePlot)
export(annotLODR)
export(saveERCCPlots)